body {
    margin-top: 80px;
    background-color: #EDF2F9;
}

* {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body .main {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
}

body .nav.nav-pills {
    width: 15%;
}

body .nav-pills .nav-link.active {
    color: #640B39;
    background-color: #F2E3C6;
    font-weight: 600;
}

body .nav-link {
    color: #640B39;
}

body .nav-link:focus, .nav-link:hover {
    color: #58355F;
}

#BT01 button {
    background-color: #EECEB5;
}

#BT01 p {
    background-color: #F2E3C6;
}

#BT02 input {
    outline: none;
}

#BT02 button {
    background-color: #F1868E;
}

#BT02 p {
    background-color: #f1a29d71;
}

#BT03 button {
    background-color: #54264D;
    color: white;
}

#BT03 p {
    background-color: #aa8b9b88;
}

#BT04 button {
    background-color: #87ABAB;
}

#BT04 p {
    background-color: #B5CABB;
}

#BT05 button {
    background-color: #7F92A4;
}

#BT05 p {
    background-color: #6c6e834f;
}


.tab-content {
    width: 100%;
    background-image: url(./img/background.jpg);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1200px) {
    body .main {
        flex-flow: column;
    }
}
